# Ignore everything
*

# descend into packages
!*packages

# allow files under rocketchat-reactions
!packages/rocketchat-reactions
!packages/rocketchat-reactions/**

# allow files under rocketchat-ui-message
!packages/rocketchat-ui-message
!packages/rocketchat-ui-message/**

#allow files under hashtag
!packages/hashtag
!packages/hashtag/**

#allow files for action link
!packages/rocketchat-actionlink-integration
!packages/rocketchat-actionlink-integration/**

#allow server file messageSearchMultiRoom
!*server
!server/methods
!server/methods/messageSearchMultiRooms.js

#allow actionLinks
!packages/rocketchat-api
!packages/rocketchat-api/server/
!packages/rocketchat-api/server/v1
!packages/rocketchat-api/server/v1/chat.js

!packages/rocketchat-integrations
!packages/rocketchat-integrations/server/
!packages/rocketchat-integrations/server/processWebhookMessage.js 

!packages/rocketchat-ui-flextab
!packages/rocketchat-ui-flextab/client
!packages/rocketchat-ui-flextab/client/tabs
!packages/rocketchat-ui-flextab/client/tabs/messageSearch.js

!packages/rocketchat-integrations
!packages/rocketchat-integrations/server
!packages/rocketchat-integrations/server/lib
!packages/rocketchat-integrations/server/lib/triggerHandler.js

!.gitignore


.DS_Store
