# Ignore everything
*

# descend into packages
!*packages

# allow files under rocketchat-reactions
!packages/rocketchat-reactions
!packages/rocketchat-reactions/**

# allow files under rocketchat-ui-message
!packages/rocketchat-ui-message
!packages/rocketchat-ui-message/**

#allow files under hashtag
!packages/hashtag
!packages/hashtag/**

#allow server file messageSearchMultiRoom
!*server
!server/methods
!server/methods/messageSearchMultiRooms.js

!packages/rocketchat-ui-flextab
!packages/rocketchat-ui-flextab/messageSearch.js
!.gitignore


.DS_Store
