# Ignore everything
*

# descend into packages
!*packages

# allow files under rocketchat-reactions
!packages/rocketchat-reactions
!packages/rocketchat-reactions/**

# allow files under rocketchat-ui-message
!packages/rocketchat-ui-message
!packages/rocketchat-ui-message/**

#allow files under hashtag
!packages/hashtag
!packages/hashtag/**

#allow server file messageSearchMultiRoom
!*server
!server/methods
!server/methods/messageSearchMultiRooms.js

#allow actionLinks
!packages/rocketchat-api/server/v1/chat.js
!packages/rocketchat-integrations/server/processWebhookMessage.js 

!packages/rocketchat-ui-flextab
!packages/rocketchat-ui-flextab/client
!packages/rocketchat-ui-flextab/client/tabs
!packages/rocketchat-ui-flextab/client/tabs/messageSearch.js

!.gitignore


.DS_Store
